:root {
  --blue: #287bff;
  --white: #ffff;
  --grey: #f3f3f3;
  --black1: #222;
  --black2: #2c2929;
  /* transtion */
  --tran-05: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  /* background-color: #000000; */
}
.navigation {
  position: fixed;
  width: 70px;
  height: 100%;
  background: var(--black1);
  border-left: 10px solid color(srgb red green rgb(0, 0, 0));
  transition: 0.1s;
  overflow: hidden;
  /* vertical-align: middle; */
}

.navigation.active {
  width: 270px;
  /* padding-left: 5px; */
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 200%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.icon {
  position: relative;
  display: block;
  min-width: 60px;
  margin-top: 8px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.icon {
  font-size: 1.75em;
}

.title {
  position: relative;
  margin-top: 14px;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* curve outside  */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.main {
  position: absolute;
  width: calc(100% - 80px);
  margin-left: 80px;
  min-height: 100vh;
  background: var(--grey);
  transition: 1s;
  padding: 5px;
}

.main.active {
  width: calc(100% - 80px) Content will fill the sidebar space
left: auto;
}
.topnav {
  overflow: hidden;
  background-color: #93939cfd;
  position:static;
  padding:-5px;
  margin-bottom: -2px;
  margin-top: 1px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(238, 231, 231);
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.topnav .search-container {
  position: relative;
  margin: 0px;
}

.topnav a:hover {
  background-color: #555;
  color: rgb(255, 255, 255);
}

.topnav input[type="text"] {
  position: absolute;
  font-size: 12px;
  height: -20px;
  padding: 10px 180px;
  margin: -42px;
  border-radius: 5px;
  border-style: inset;
  margin-left: 80px;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
/* Add some basic styling to the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b0c0c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #1b0c0c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
}

.user {
  position: fixed;
  min-width: 10px;
  margin: -44px;
  height: -100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  left: 100px 50px;
  right: 150px;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100px;
  height: auto;
  object-fit: cover;
}
.user p.name {
  font-weight: 14px;
  margin-top: 10px;
}
.user-dropdown {
  position: relative;
  display:inline-flex;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* z-index: 1; */
}

.user:local-link .dropdown-content {
  display:list-item;
}

.admin {
  position: relative;
  font-size: 1px;
  /* font-style: var(--black1); */
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 18px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  z-index: 1px;
}
.card {
  position: relative;
  background: var(--white);
  padding: 18px;
  z-index: 1;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--black1);
}

.card:hover .numbers {
  color: #f5f5f5;
}

.cardName {
  color: var(--black1);
  font-size: 1.1em;
  margin-top: 5px;
}
.iconBx {
  font-size: 1.75em;
  color: var(--black1);
}
.card:hover {
  background-color: #4a4c50;
}
.card:hover .numbers,
.cardBox.card:hover .cardName,
.cardBox.card:hover .iconBx {
  color: var(--white);
}

.course_details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}
.courses {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 70px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--black1);
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  width: 90px;
  height: 35px;
}
.course_details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.course_details table thead td {
  font-weight: 600;
}

.courses table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
}
.courses table tr:last-child {
  border-bottom: none;
}
.courses table tr:hover {
  background: var(--black1);
  color: var(--white);
}
.courses table tr td {
  padding: 10px;
}
.courses table tr td:last-child {
  text-align: end;
}
.courses table trtd:nth-child(2) {
  text-align: end;
}
.courses table trtd:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.completed {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e0d42c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.overdue {
  padding: 2px 4px;
  background: #161616;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.employees {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.employees .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.employees .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employees table tr:hover {
  background: var(--blue);
  color: var(white);
}

.employees table tr td {
  padding: 12px 10px;
}
.employees table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.employees table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.employees table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.employees table tr:hover td h4 {
  color: var(--white);
}
/* responsive design */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
    width: 100%;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .course_details {
    grid-template-columns: repeat(1, 1fr);
  }
  .courses {
    overflow-x: auto;
  }
  .status.pending {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: var(--white);
  }
}
/* Popup container - can be anything you want */
.popup_notification {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  top: 50%;
  /* width: -100px; */
  left: 79%;
  transform: translate(-50%, -2%);
  background-color: var(--black1);
  border-radius: 4px;
  /* margin-top: -20px; */
  padding: 10px 80px;
  border: 1px solid #ccc;
  /* box-shadow: 0 2px 5px rgb(0, 0, 0); */
  z-index: 1000;
}

.notification {
  background-color: #000000;
  color: rgb(0, 0, 0);
  text-decoration: var(--white);
  /* padding: 15px 26px; */
  position: fixed;
  display: block;
  right: 1px;
  margin-right: 180px;
  margin-bottom: 50px;
  margin-top: -26px;
  /* left: 1px; */
  border-radius: 3px;
}

.notification:hover {
  /* background: red; */
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 1px 6px;
  border-radius: 50%;
  background: red;
  color: white;
}


/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 80px;
  height: 80px;
  background-color: #ffff;
  color: #a71b1b00;
  white-space: nowrap;
  text-align: left;
  border-radius: 6px;
  padding: 10px 0px;
  position: absolute;
  top: 100%;
  left: -10px;
  /* text-decoration-color: #f5f5f5; */
  transform: translate(-50%, 0);
}


/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #c4161600 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;

  animation: fadeIn 1s;
  background-color: var(--black1);
}

.popup .popuptext ul {
  padding: 0;
  margin: 0;
}

.popup .popuptext ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup .popuptext ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.popup .popuptext ul li:first-child {
  margin-bottom: 0px;
}

.notification-popup {

}