@import url('https://fonts-googleapis.com/css/css2?family-Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
}
:root{
    --blue:#287bff;
    --white:#ffff;
    --grey:#695acd8a;
    --black1:#222;
    --black2:#99 9;
    

}
 body{
    min-height: 100vh;
    overflow-x: hidden;
    transition: all 0.5s ease;
    width: auto;
 }
 .container{
    position: relative;
    width: 100%;
 }
 .navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--black1 );
    border-left: 10px solid var(--black1);
    transition: 0.5s;
    overflow: hidden;
 }
.navigation.active{
   width: 80px;
}
/* .navigation.active,
.main.active {
  margin: 0;
  padding: 0;
} */

 .navigation ul{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
 }  
 .navigation ul li{
    position: relative;
    width:200%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
 }

 .navigation ul li:hover,
 .navigation ul li.hovered{
    background:var(--white)
 }
 .navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;

  }

 .navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
 }

 .navigation ul li:hover a,
 .navigation ul li.hovered a{
   
    color:var(--blue);
 }

.icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center ;
    
}

.icon {
   font-size: 1.75em;
}

.title{
   position: relative;
   display: block;
   padding: 0 10px;
   height: 60px;
   line-height: 60px;
   text-align: start;
   white-space: nowrap;
}

/* curve outside  */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
   content: '';
   position: absolute;
   right: 0;
   top: -50px;
   height: 50px;
   width: 50px;
   background: transparent;
   border-radius: 50%;
   box-shadow: 35px 35px 0 10px var(--white);
   pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
 {
   content: '';
   position: absolute;
   right: 0;
   top: -50px;
   height: 50px;
   width: 50px;
   background: transparent;
   border-radius: 50%;
   box-shadow: 35px -35px 0 10px var(--white);
   pointer-events: none;
}
/*main */
.main{
   position: absolute;
   width: 100%;
   /* left: 300px; */
   min-height: 100vh;
   background: var(--grey );
   transition: 0.5s ;
   padding: 10px;
   float: right;
   
}
/* .main.active{
   width: calc(100% - 300px);
   left: 300px;
     
} */
.topbar{
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}
.toggle{
   position: relative;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5em; 
   cursor: pointer;
}

.search{
   position: relative;
   width: 400px;
   margin: 0 10px;
}

.search label{
   position: relative;
   width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px; 
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black1);
}
.searchIcon{
   position: absolute;
   top: 0;
   left: 10px;
   font-size: 1.2em;

}
.user{
   position: relative;
    width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
}

.user img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover ;
}
.cardBox{
   position:relative;
   width: 100%;
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
    grid-gap: 30px; 
}
.card{
   position: relative;
   width: 250px;
   background-image: url(C:/Users/D/Desktop/ukasha/images/img5.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 30px;
   border-radius: 20px;
   display: flex;
   justify-content: space-between ;
   cursor: pointer;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.numbers{
   position: relative;
   font-weight: 500;
   font-size: 2.5em;
   color: var(--blue);
    
}

.cardName{
   color: var(--black1);
   font-size: 1.1em;
   margin-top: 5px;

}
.iconBx{
   font-size: 3.5em;
   color:var(--black1)
}
.card:hover{
   background: var(--blue);
}
.card:hover .numbers,
.cardBox.card:hover .cardName,
.cardBox.card:hover .iconBx{
   color: var(--white);
}

.project_details{
   position: relative;
   width: 100%;
   padding: 20px;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 30px;
   /* margin-top: 10px; */
}
.projects{
   position: relative;
   display: grid;
   min-height: 500px;
   background: var(--white);
   padding:20px;
   box-shadow: 0 70px 25px rgba(0, 0, 0, 0.08); 
   border-radius: 20px;
}
 .cardHeader{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
 }
.cardHeader h2{
   font-weight: 600;
   color:var(--blue)
}

.btn{
   position: relative;
   padding: 5px 10px;
   background: var(--blue);
   text-decoration: none;
   color: var(--white);
   border-radius:6px ;
   width: 90px;
   height: 35px;
}
.project_details table{
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
}
.project_details table thead td{
   font-weight: 600;
}

.projects table tr{
   color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
}
.projects table tr:last-child{
   border-bottom: none;
}.projects table tr:hover{
   background: var(--black1);
   color: var(--white );
}
.projects table tr td{
   padding: 10px;
}
.courses table tr td:last-child{
   text-align: end;
}
.projects table trtd:nth-child(2){
   text-align: end;
}
.projects table trtd:nth-child(3){
   text-align: center;
}
.status.delivered{
padding: 2px 4px;
background: #8de02c;
color: var(--white);
border-radius: 4px;
font-size: 14px;
font-weight: 500;
}
.status.completed{
padding: 2px 4px;
background: #f00;
color: var(--white);
border-radius: 4px;
font-size: 14px;
font-weight: 500;
}
.status.pending{
padding: 2px 4px;
background: #e0d42c;
color: var(--white);
border-radius: 4px;
font-size: 14px;
font-weight: 500;
}
.status.overdue{
padding: 2px 4px;
background: #161616;
color: var(--white);
border-radius: 4px;
font-size: 14px;
font-weight: 500;
}

.employees{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
/* 
.employees .imgBx{
   position:relative;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow:hidden;
}
.employees .imgBx img{
   position:absolute;
   top: 0;
   left:0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.employees table tr:hover{
   background: var(--blue);
   color: var(white);
}


.employees table tr td{
   padding:12px 10px ;
}
.employees table tr td h4{
  font-size:16px ;
  font-weight: 500;
  line-height: 1.2em; 
}
.employees table tr td h4 span{
   font-size: 14px;
   color: var(--black2);
}
.employees table tr:hover{
   background: var(--blue);
   color: var(--white);
}
.employees table tr:hover td h4{
   color: var(--white);
} */
/* responsive design */
@media (max-width:991px){

   .navigation{
      left: -300px;
   }
   .navigation.active{
      left: 0;
      width: 300px;
   }
   .main{
      width: 100%;
      left: 0;
   }
   .main.active{
      left: 300px ;
      width: calc(100% - 300px);
   }
   .cardBox{

      grid-template-columns: repeat(2,1fr);
   }
}

@media(max-width:768px){
    .project_details{
      grid-template-columns: repeat(1,1fr);
    }
    .projects{
      overflow-x: auto;
    }
    .status.pending{
      white-space: nowrap;
    }

}
@media(max-width:480px){
   .cardBox{
      grid-template-columns: repeat(1,1fr);
   }
   .cardHeader{
      font-size: 20px;
   }
   .user{
      min-width: 40px;
   }
   .navigation{
      width: 100%;
      left: -100%;
      z-index: 1000;
   }
   .navigation.active {
      width: 100%;
      left: 0;
   }
   .toggle{
      z-index: 10001;
   }
   .main.active .toggle{
      position: fixed;
      right: 0;
      left: initial;
      color: var(--white);
   
   }

}
.admin{
   cursor: pointer;
}
